<div class="list-group-item" [ngClass]="{'list-group-item-success': loveIts > 0, 'list-group-item-danger': loveIts < 0}"><h2>{{ postTitre }}</h2>
<p>{{ getDateJour() | date: ' dd MMMM yyyy HH:mm ' }}<p>
<p> {{ postContent }}</p>
<button class="btn btn-success" (click)="augLike()" >Like</button>
<button class="btn btn-danger" (click)="dimLike()" > Pas Like </button>
<p>loveIt = {{ loveIts }}</p>
</div>


