<div style="text-align: justify; padding: 25pt;" [ngStyle]="{color: getColor()}">
<app-post-list-item *ngFor="let post of posts"
[postTitre]="post.title"
[postContent]="post.corps"
[postDate]="post.created_at"
[loveIts]="post.comptLike"
></app-post-list-item>
</div>
